<!DOCTYPE html>
<html>
<head>
  <title>RailsapiOmniauth</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>

<body>
<%= yield %>
<% if current_user %>
    <%= current_user.name %> <%= link_to 'ログアウト', logout_path %>
<% else %>
    <%= link_to 'ログイン', '/auth/twitter' %>
<% end %>
</body>
</html>
